<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center;">Crud students</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="/add">+ Add student</a>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for e in students %}
                <tr>
                    <td>{{e.name}}</td>
                    <td>{{e.age}}</td>
                    <td>
                        <a href="/edit/student_{{ e.id }}">Edit</a>
                         /
                        <a href="/delete/student_{{ e.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>